.Rproj.user/
handout_unfinished/handout_1_3_files/figure-latex/unnamed-chunk-2.pdf

handout_unfinished/handout_1_3.tex

week_01/figure/unnamed-chunk-3-1.png

week_01/figure/unnamed-chunk-4-1.png

week_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

week_01/lec_01_files/figure-beamer/unnamed-chunk-4-1.png

week_01/lec_01.md

week_01/lec_01.nav

week_01/lec_01.snm

week_01/lec_01.tex
