.Rproj.user/
handout_unfinished/handout_1_3_files/figure-latex/unnamed-chunk-2.pdf

handout_unfinished/handout_1_3.tex

week_01/figure/unnamed-chunk-3-1.png

week_01/figure/unnamed-chunk-4-1.png

week_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

week_01/lec_01_files/figure-beamer/unnamed-chunk-4-1.png

week_01/lec_01.md

week_01/lec_01.nav

week_01/lec_01.snm

week_01/lec_01.tex

*.aux

*.nav

*.log

*.out

*.snm

*.toc

*.vrb
.Rproj.user

.Rhistory

week_01/week_01_ols_files/figure-beamer/unnamed-chunk-3-1.png

week_01/week_01_ols_files/figure-beamer/unnamed-chunk-4-1.png

week_04/week_04_model_comparison.tex

week_04/week_04_model_comparison.md

week_06/week_06_collinearity.md

week_06/week_06_collinearity.tex

week_05/lab_03/nano_research_files/figure-latex/unnamed-chunk-2-1.pdf

week_07/dist_graphs-concordance.tex

week_07/figure/unnamed-chunk-11.pdf

week_07/figure/unnamed-chunk-12.pdf

week_07/graphs_for_lektorium/dist_graphs-concordance.tex

week_07/graphs_for_lektorium/dist_graphs.pdf

week_07/graphs_for_lektorium/dist_graphs.synctex.gz

week_07/graphs_for_lektorium/dist_graphs.tex

week_07/predposilki.tex

week_07/week_07_heteroscedasticity.md

week_07/week_07_heteroscedasticity.tex

week_09/figure/unnamed-chunk-2-1.png

week_09/figure/unnamed-chunk-3-1.png

week_09/figure/unnamed-chunk-4-1.png

week_09/week_09_autocorrelation.md

week_09/week_09_autocorrelation.tex

week_12/diagram.synctex.gz

week_12/figure/

week_12/week_12_time_series.md

week_12/week_12_time_series.tex

week_15/lec_10_files/

week_15/lec_10-tikzDictionary

week_15/lec_10.fls

week_15/figure/

week_15/week_15_bayes_quantile_forest.md

week_15/week_15_bayes_quantile_forest.tex

week_15/base_q.png

week_13/week_13_endogeneity.tex

week_13/week_13_endogeneity.md

week_10/week_10_maximum_likelihood.md

week_10/week_10_maximum_likelihood.tex

.DS_Store
