.Rproj.user/
handout_unfinished/handout_1_3_files/figure-latex/unnamed-chunk-2.pdf

handout_unfinished/handout_1_3.tex

week_01/figure/unnamed-chunk-3-1.png

week_01/figure/unnamed-chunk-4-1.png

week_01/lec_01_files/figure-beamer/unnamed-chunk-3-1.png

week_01/lec_01_files/figure-beamer/unnamed-chunk-4-1.png

week_01/lec_01.md

week_01/lec_01.nav

week_01/lec_01.snm

week_01/lec_01.tex

*.aux

*.nav

*.log

*.out

*.snm

*.toc

*.vrb
.Rproj.user

.Rhistory

week_01/week_01_ols_files/figure-beamer/unnamed-chunk-3-1.png

week_01/week_01_ols_files/figure-beamer/unnamed-chunk-4-1.png

week_04/week_04_model_comparison.tex

week_04/week_04_model_comparison.md

week_06/week_06_collinearity.md

week_06/week_06_collinearity.tex

week_05/lab_03/nano_research_files/figure-latex/unnamed-chunk-2-1.pdf

week_07/dist_graphs-concordance.tex
